<h1 class="mt-2">Agregar Producto</h1>
<hr />

<form [formGroup]="miForm">
  <div class="row gx-3 align-items-center">
    <div class="col-auto">
      <label for="nombre" class="col-form-label">Nombre</label>
    </div>
    <div class="col-auto">
      <input class="form-control" formControlName="nombre" />
    </div>
    <div class="col-auto">
      <span
        [valido]="!existeError('nombre')"
        errorMsg
        [color]="color"
        [mensaje]="texto1"
      >
      </span>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button (click)="cambiarTexto()" class="btn btn-primary">Guardar</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button (click)="cambiarColor()" class="btn btn-primary">
        Cambiar Color
      </button>
    </div>
  </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Value: {{ miForm.value | json }}</pre>
<pre>Valid: {{ miForm.valid }}</pre>

<div class="row mt-4"  *customIf="miForm.valid" > 
  <div class="col">
    <div class="alert alert-primary">
      Todo bien
    </div>
  </div>
</div>
